body {
  font-family: Arial, sans-serif;
}
h1 {
  color: red;
  text-align: center;
}
/* 
I hope you didn't stop early, finding a thing doesn't mean nothing remains to be found
the password is e8c0N9TnmzYUBdk
*/
